@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
}

.App {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.owner {
  width: 100%;
  height: auto;
  text-align: center;
}

.owner p {
  font-family: "Montserrat";
  font-size: 15px;
  color: #333;
  line-height: 50px;
}

/*Responsive*/

@media (max-width: 320px) {
  .owner p {
    font-size: 10px;
  }
}
