@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.timer {
  width: 20%;
  height: 30px;
  font-family: "Montserrat";
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  margin-right: 17%;
  border: 1px solid #333;
  border-radius: 5px;
}

/*Responsive*/

@media (max-width: 1024px) {
  .timer {
    margin-right: 0px;
  }
}

@media (max-width: 540px) {
  .timer {
    width: 30%;
    font-size: 25px;
  }
}

@media (max-width: 304px) {
  .timer {
    width: 20%;
    font-size: 13px;
  }
}
