@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 76%;
  height: 560px;
  margin: 0px auto;
  margin-bottom: 0px;
  padding: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 70%;
  height: 70%;
}

label {
  font-family: "Montserrat";
  font-size: 35px;
  color: #333;
  margin-bottom: 15px;
}

.form input {
  width: 90%;
  height: 15px;
  font-family: "Montserrat";
  font-size: 25px;
  color: #333;
  text-align: center;
  color: rgb(172, 169, 169);
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  transition: all 300ms;
}

.form input:focus {
  color: #333;
}

/*Responsive*/

@media (max-width: 800px) {
  label {
    font-size: 30px;
  }

  .form input {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  label {
    font-size: 25px;
  }

  .form input {
    width: 80%;
    font-size: 15px;
  }
}

@media (max-width: 540px) {
  .formContainer {
    width: 100%;
    border: none;
  }

  .form {
    width: 100%;
    border: none;
  }

  label {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .formContainer {
    height: 470px;
  }

  .form input {
    font-size: 13px;
  }
}

@media (max-width: 280px) {
  .form input {
    font-size: 11px;
  }
}
