@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.subjectName {
  width: 100%;
  height: 30px;
  font-family: "Montserrat";
  font-size: 20px;
  color: #333;
  margin-top: 20px;
  line-height: 30px;
}
